###############################################################################
# Lean (Lake build system)                                                    #
###############################################################################
.lake/
build/
*.olean
*.olean.hash
*.ilean
*.ilean.hash
*.trace

###############################################################################
# Agda                                                                        #
###############################################################################
*.agdai
_build/
MAlonzo/**
# Generated HTML highlighting (regenerate with `agda --html`)
Agda/html/

###############################################################################
# Haskell                                                                     #
###############################################################################
# Compiled object / interface files
*.o
*.hi
*.dyn_o
*.dyn_hi
*.hie
*.chi
*.chs.h
*.prof
*.eventlog
*.hp

# Compiled binary (the project's `Main` executable)
Haskell/Main
Haskell/Main-bak

# Build directories
dist
dist-*
dist-newstyle/
.stack-work/
cabal-dev
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
cabal.project.local~
.HTF/
.hpc
.hsenv
.ghc.environment.*

###############################################################################
# LaTeX (compiler-generated auxiliary files)                                  #
###############################################################################
# Core latex/pdflatex auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Beamer
*.nav
*.snm
*.pre
*.vrb

# Intermediate documents
*.dvi
*.xdv
*-converted-to.*

# Bibliography
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Build tool directories
latex.out/

# Project-specific generated TeX file
paper/currentcir.tex

# Other LaTeX packages
*.alg
*.loa
acs-*.bib
*.thm
*.soc
*.cut
*.cpt
*.spl
*.ent
*.lox
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs
*-gnuplottex-*
*.gaux
*.gtex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref
*.brf
*-concordance.tex
*-tikzDictionary
*.lol
*.ltjruby
*.idx
*.ilg
*.ind
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*
_minted*
*.pyg
*.mw
*.nlg
*.nlo
*.nls
*.pax
*.pdfpc
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd
*.wrt
*.sout
*.sympy
sympy-plots-for-*.tex/
*.upa
*.upb
*.pytxcode
pythontex-files-*/
*.listing
*.loe
*.dpth
*.md5
*.auxlock
*.tdo
*.hst
*.ver
*.lod
*.xcp
*.xmpi
*.xdy
*.xyc
*.xyd
*.ttt
*.fff
TSWLatexianTemp*

# Editors (LaTeX-focused)
*.bak
*.sav
.texpadtmp
*.lyx~
*.backup
.*.swp
*~[0-9]*
*.tps
./auto/*
*.el
*-tags.tex
*.sta
*.lpz

###############################################################################
# Editor / OS / general                                                       #
###############################################################################
*~
*.orig
*.*~
